<!DOCTYPE html> 
<html> 
<head> 
  <title><%= albumName %></title>
</head>
<body> 
 
  <h1><%= albumName %></h1> 
  <p>Total tracks: <%= trackCount %></p> 
  
  
  <h2>Track List</h2> 
  <table> 
    <thead> 
      <tr> 
        <th>Track #</th> 
        <th>Track Name</th> 
        <th>Duration</th> 
      </tr>
    </thead>
    <tbody> 
      <% tracks.forEach(track => { %> 
        <tr> 
          
          <td><%= track.trackNum %></td> 
          <td><%= track.TrackName %></td>
          <td><%= track.track_length %></td>
        </tr>
      <% }); %> 
    </tbody>
  </table>
</body>
</html>